* {
	box-sizing: border-box;
}

body {
	background: #e6e2d3;
	font-size: 16px;
}

#header-nav {
	background-color: #b9936c;
	border-radius: 0;
	border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: Arial, serif;
  color: #000;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -5px;
  margin-bottom: 0;
  /*line-height: .75;*/
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
	background-color: #dac292;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}
#nav-list a {
  color: #000;
  text-align: center;
  line-height: 15px;
  padding-top: 0;
  padding-bottom: 15px;
  border-top: 2px solid #000;
}

#nav-list #first {
	border-top: 0;
}

.navbar-nav {
	margin-top: 0;
	margin-bottom: 0;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #000;
}

#pg-title {
	font-weight: bold;
	font-size: 1.8em;
	margin-bottom: 15px;
}

.content {
	background: #E7E7E7;
	border: 1px solid #000;
	font-size: 1.5em;
	margin-bottom: 20px;
	font-weight: bold;
}

.content p {
	font-size: .8em;
	font-weight: normal;

}

@media (max-width: 767px) {
	.custom-container {
    	width: 450px;
	}
}

@media (max-width: 460px) {
	.custom-container {
    	width: 300px;
	}
}

